<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="todos" *ngIf="todosList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Title</th>
            <th class="h">Description</th>
            <th class="h">Date</th>
            <th class="h">Status</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="todo" *ngFor="let todo of todosList">
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.date}}</td>
            <td>{{todo.status}}</td>

            <td class="o">
              <button class="btn btn-danger" (click)="deleteTodo(todo)">
                <i  class="fa fa-trash"></i>
              </button>
              <button class="btn btn-warning" (click)="editTodo(todo)">
                  <i  class="fa fa-pencil"></i>
                </button>
              <button class="btn btn-success">
                    <i  class="fa fa-check"></i>
                  </button>

            </td>

          </tr>
        </tbody>
      </table>
    </div>


    <form>
      <div class="form-row">

        <div class="col-md-5">
          <input type="text" name="title" placeholder="Title" class="form-control">
        </div>
        <div class="col-md-5">
          <input name="description" placeholder="Description" class="form-control" id="description">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>